html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 3px;
	// margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
	position: relative;
	@include transition(0.3s);

	img{
		display: block;
	}

	figcaption {
		background: rgb(0,0,0);
		background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		font-size: 1rem;
		opacity: 0;
		@include transition(0.3s);

		a{
			color: white;

			&:hover{
				color: white;
			}
		}
	}

	&:hover figcaption{
		opacity: 1;
		@include transition(0.3s);
	}
}

@import "tables";


/* CUSTOM ELEMENTS */
.card{
	// background-color: rgba(242,237,208,0.9);
	background-color: rgba(255,255,255,0.85);
}
.card:hover:not(.card-accordion),
.shadow-hover:hover{
	box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.7);
	@include transition (0.3s);
}