.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Custom CSS for all posts/pages */
section.hero{
	min-height: 95vh;
	width: 100%;
	overflow-x: hidden;
}

.container-fluid.px-0{
	overflow-x: hidden;
}

.default-page-bg{
	background-image: url('ui/invitaciones-digitales-online.jpg');
	background-repeat: repeat;
}

.section-title{
	background-image: url('img/invitaciones-digitales-online.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	min-height: 35vh;
	width: 100%;

	h1{ text-shadow: 2px 2px 5px black; }
}

article{
	h2{
		font-size: 2.25rem;
	}
}

/* INTRO */
section.intro-home{	
	background-image: url('img/invitaciones-digitales-online.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;

	h1{ text-shadow: 2px 2px 5px black; }
}

.intro-pattern{
	background-image: url('ui/invitaciones-digitales-gratis.jpg');
	background-repeat: repeat;
}

section.tutorial-intro{
	background-image: url('img/invitaciones-digitales-gratis.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;

	h2{ text-shadow: 2px 2px 5px black; }
}


/* CATEGORIES */
section.categories-list{
	h2{
		font-size: 2rem;
	}
}